<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">

  
    <h1>Tooling Developer Tech Test - Node.js</h1>
  </div>

  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>