<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">

  
    <h1>Tooling Developer Tech Test - Node.js</h1>
  </div>

  <p>Check the console to see results.</p>

  
</body>

</html>